@font-face {
    font-display: swap;
    font-family: 'Adieu';
    src: url("fonts/adieu/adieu-bold.woff2") format("woff2"), url("fonts/adieu/adieu-bold.woff") format("woff"), url("fonts/adieu/adieu-bold.eot") format("eot");
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-family: 'Adieu';
    src: url("fonts/adieu/adieu-regular.woff2") format("woff2"), url("fonts/adieu/adieu-regular.woff") format("woff"), url("fonts/adieu/adieu-regular.eot") format("eot");
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Roobert';
    src: url("fonts/roobert/roobert-bold.woff2") format("woff2"), url("fonts/roobert/roobert-bold.woff") format("woff"), url("fonts/roobert/roobert-bold.eot") format("eot");
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-family: 'Roobert';
    src: url("fonts/roobert/roobert-medium.woff2") format("woff2"), url("fonts/roobert/roobert-medium.woff") format("woff"), url("fonts/roobert/roobert-medium.eot") format("eot");
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-family: 'Roobert';
    src: url("fonts/roobert/roobert-regular.woff2") format("woff2"), url("fonts/roobert/roobert-regular.woff") format("woff"), url("fonts/roobert/roobert-regular.eot") format("eot");
    font-weight: 400;
}