footer {
    width: 100%;
    bottom: 0;
    position: relative;
    padding-bottom: 3rem;

    @include media($screen-smd) {
        margin-top: 0;
    }


    > section {
        z-index: 99;

        @include media($max-mdl) {
            padding-right: $spacing-gutter-xs * $grid;
            padding-left: $spacing-gutter-xs * $grid;
        }


        @include media($max-sm) {
            padding-right: $spacing-gutter-xs * $grid;
            padding-left: $spacing-gutter-xs * $grid;
        }


        @include media($max-xs) {
            padding-right: $spacing-gutter * $grid;
            padding-left: $spacing-gutter * $grid;
        }
    }

    a {
        border-bottom: 0;
    }

    @include media($max-smd) {
        background-color: $yellow;
    }


    .wave {
        z-index: 1;
        background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22b04eca0b-5383-4c30-ac84-23fb3843869e%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201440%20313.59%22%3E%3Cdefs%3E%3Cstyle%3E.a801c6d9-34ad-42d6-be70-50e188276cc7%7Bfill%3A%23ffedc9%3Bfill-rule%3Aevenodd%7D%3C/style%3E%3C/defs%3E%3Cg%20id%3D%22fb2499d9-e035-495f-8ce4-f0c9a2a60144%22%20data-name%3D%22Page-1%22%3E%3Cg%20id%3D%22f410f7d7-00d4-4d41-b4f4-48fd667d51e4%22%20data-name%3D%22Landing-Page%20v2%22%3E%3Cpath%20id%3D%22a4d3fe0c-6527-4cd1-82f4-cf01ec34e01d%22%20data-name%3D%22Wave-Shape-Copy-2%22%20class%3D%22a801c6d9-34ad-42d6-be70-50e188276cc7%22%20d%3D%22M0%2040.76C203.45-12.36%20366.31-7.53%20539%2021c140.57%2023.2%20313.17%2068%20496.94%2071.74%20177.92%203.67%20300.86-25.79%20404.06-52v272.85H0z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") repeat-x;
        background-size: 93%;
        background-repeat: repeat-x;
        animation-name: wave;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-play-state: running;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 1;
        height: 98px;
        top: -98px;

        @include media($screen-md) {
            height: 12.5rem;
            top: -12.5rem;
        }
    }

    @include media(min-height 800px) {
        @include media($screen-smd) {
            position: absolute;
        }
    }
}

main {
    margin-bottom: 12.5rem;

    @include media($max-mdl) {
        margin-bottom: 98px;
    }
}

@keyframes wave {
    0% {
        background-position: 0vw 0;
    }

    100% {
        background-position: -100vw 0;
    }
}