<script  type="text/javascript" charset="utf-8">var lazyLoadInstance = new LazyLoad({elements_selector: ".lazy",});</script>
<script type="text/javascript" charset="utf-8">var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);


if (isSafari) {
	document.addEventListener("DOMContentLoaded", function(){ var can = document.getElementById('can');can.classList.add('animate');});
}</script>
<!-- <script src="app/app.min.js" type="text/javascript" charset="utf-8"></script> -->