<link rel="preload" as="font" type="font/woff2" crossorigin href="app/fonts/adieu/adieu-bold.woff2" />
<link rel="preload" as="font" type="font/woff2" crossorigin href="app/fonts/adieu/adieu-regular.woff2" />
<link rel="preload" as="font" type="font/woff2" crossorigin href="app/fonts/roobert/roobert-bold.woff2" />
<link rel="preload" as="font" type="font/woff2" crossorigin href="app/fonts/roobert/roobert-medium.woff2" />
<link rel="preload" as="font" type="font/woff2" crossorigin href="app/fonts/roobert/roobert-regular.woff2" />