.icon-arrow { background-image: url('app/icons/arrow.png'); background-repeat: no-repeat; }

.icon-blob { background-image: url('app/icons/blob.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-social--instagram { background-image: url('app/icons/social--instagram.png'); background-repeat: no-repeat; }

