<div class="block--image grid--one grid--smd-half">
	<i class="icon-blob" data-grunticon-embed></i>
	<figure class="block--hand-product">
		<img src="app/img/hand-foreground-load.png" data-src="app/img/hand-foreground.png" class="hand fg lazy" width="320">
		<img src="app/img/can-load.png" data-src="app/img/can.png" class="can lazy" id="can" width="210">
		<img src="app/img/hand-bg-load.png" data-src="app/img/hand-bg.png" class="hand bg lazy" width="320">
		<figcaption class="screenreader">A floating hand with a can that reads "Lei Back" floating up and down</figcaption>
	</figure>
</div>