<div class="block--image grid--one grid--smd-half">
	<i class="icon-blob" data-grunticon-embed></i>
	<figure class="block--hand-product">
		<picture>
			<source type="image/webp" data-srcset="app/img/hand-foreground.webp">
			<source type="image/png" data-srcset="app/img/hand-foreground.png">
			<img src="app/img/hand-foreground-load.png" data-src="app/img/hand-foreground-load.png" class="hand fg lazy" width="320">
		</picture>
		<picture>
			<source type="image/webp" data-srcset="app/img/can.webp">
			<source type="image/png" data-srcset="app/img/can.png">
			<img src="app/img/can-load.png" data-src="app/img/can-load.png" class="can lazy running" id="can" width="210">
		</picture>
		<picture>
			<source type="image/webp" data-srcset="app/img/hand-bg.webp">
			<source type="image/png" data-srcset="app/img/hand-bg.png">
			<img src="app/img/hand-bg-load.png" data-src="app/img/hand-bg-load.png" class="hand bg lazy" width="320">
		</picture>
		<figcaption class="screenreader">A floating hand with a can that reads "Lei Back" floating up and down</figcaption>
	</figure>
</div>