.bg--orange-light {
    background-color: $orange-light;
}

.bg--orange-dark {
    background-color: $orange-dark;
}

.bg--yellow {
    background-color: $yellow;
}

.bg--green-dark {
    background-color: $green-dark;
}