.block--signup {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    transition: box-shadow 0.15s $base-animation;

    &:focus-within {
        box-shadow: 0 0 0 1px $green-dark;
        transition: box-shadow 0.15s $base-animation;
    }

    @include media($screen-smd) {
        max-width: 375px;
    }


    input[type="email"] {
        border-right: 0;
        flex-grow: 1;
        position: relative;
        z-index: 5;
        transition: border 0.15s $base-animation;

        &:focus {
            // + input[type="submit"] {
            //     background-color: $green-light;
            //     transition: background-color 0.15s $base-animation, border 0.15s $base-animation;
            // }
       
        }
    }

    input[type="submit"] {
        background-color: transparent;
        transition: background-color 0.15s $base-animation, border 0.15s $base-animation;
        border-left: 2px solid transparent;
        background-size: 35px 26px;
        background-position: center;
        width: 4rem;
        flex-basis: 4rem;
        position: relative;
        z-index: 2;
        left: -4px;
        margin-right: -4px;

        &:hover {
            background-color: $green-light;
            transition: background-color 0.15s $base-animation, border 0.15s $base-animation;
        }

        &:focus {
            transition: background-color 0.15s $base-animation, border 0.15s $base-animation;
            border: 2px solid $green-dark;
            background-color: $green-light;
        }
    }

    + p {
        font-size: .9rem;
    }
}